<h1>Welcome</h1>
<div class="play-container">
  <p>You've clicked <span (click)="countClick()">this</span> {{clickCounter}} times.</p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name">
    <br>
    <strong>You said: </strong> {{name}}
  </p>
</div>

<!-- style binding-->
<!--<div class="play-container" [style.background-color]="clickCounter > 4 ?'yellow' : 'lightgrey'">-->
<!-- style binding-->
<!--  <div class="play-container" [ngStyle]="{
  'background-color': clickCounter > 4 ? 'yellow' : 'lightgrey',
  'border':           clickCounter > 4 ? '4px solid' : 'none'
}">-->

<!--class binding-->
<!--<div class ="play-container" [class.active]="clickCounter > 4">-->

<div class ="play-container" [ngClass]="setClasses()">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The clickCounter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
    <p>The clickCounter <strong>IS NOT GREATER</strong> than 4.</p>
  </ng-template>
</div>
